-# in app/views/movies/show.html.haml
%h2 Details about #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Released on:
    = @movie.release_date.strftime("%B %d, %Y")
  %li
    Average Score:
    = @movie.average_score
  %li
    Review #:
    = @movie.number_of_reviews

%h3 Description:
%p#description= @movie.description

%h3 Reviews
%ul#details
  - @movie.reviews.each do |review|
    %li
      = "#{review.potatoes} - #{review.comments} (#{review.moviegoer.name})"


= link_to 'Edit info ', edit_movie_path(@movie)
|
= link_to 'Add Review', "/movies/#{@movie.id}/reviews/new"
|
= link_to 'Delete', movie_path(@movie), method: :delete, data: {confirm: 'Are you sure'}
|
= link_to 'Back to movie list', movies_path